<div class="container">
	<%= image_tag("IMG_0820bw4.jpg", :class => "img-responsive") %>
	<div class="row">
    <div class="col-md-8">
      <h3>Welcome</h3>
      <p>My name is Alan Tran. I am senior in the Finance stream of the University of Waterloo's <a href="https://uwaterloo.ca/school-of-accounting-and-finance/">Accounting and Financial Management Program</a>. This program combines both accounting and finance, alongside a reputable co-op program.  </p>
      <p>I am open to any networking and job prospects available. I have a diverse range of internship work experiences from Finance to Income Tax. Feel free to contact me anytime and explore my website to learn more about myself and my work.</p>
      <p><%= link_to "Explore", thoughts_path%></a></p>
    </div>
    <div class="col-md-4">
    	<br>
			<h5><strong>Research Assistant <a href="https://uwaterloo.ca/">University of Waterloo</a> </span></strong></h5>
      <!---<p>Characterized historical data for foreign and domestic equities</p>-->

      <h5><strong>Web Design <a href="http://www.uwelectric.com/">Formula Motorsports Electric</a> </span></strong></h5>
      <!---<p>Redesigned the team's website, acquired sponsorships to support the team's operations</p>-->

      <h5><strong>Business Analyst <a href="https://www.ontario.ca/government/about-ontario-public-service">Ontario Public Service</a></span></strong></h5>
      <!--<p>Forecated cash flows and performed market research on neighboring municipalities and their government service to identify potential revenue generating opportunities</p>-->

      <h5><strong>Income Tax Auditor <a href="http://www.cra-arc.gc.ca/menu-e.html">Canada Revenue Agency</a></span></strong></h5>
      <!--<p>Enforced and interpreted the Income Tax Act, designed and executed multiple audit plans for personal income tax fraud investigations</p>-->

      <h5><strong>Accounting Analyst <a href="https://www.kanetix.ca/">Kanetix Ltd</a></strong></h5>
      <!--<p>Performed revenue analysis, reconciled the company daily transactions and resolved discrepancies, prepared the company for its first full audit</p>-->
    </div>
	</div>
</div>