<div class="container">
	      <h3>Contact me</h3>
	      <p><span class="glyphicon glyphicon-earphone"></span> +1 647 876 5435</p>
        <p><span class="glyphicon glyphicon-briefcase"></span> alan.trann@gmail.com </p>
</div>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on right
</button>

$('a').popover();
