<div class="container">
	      <h3>Contact me</h3>
	      <p><span class="glyphicon glyphicon-earphone"></span> +1 647 876 5435</p>
        <p><span class="glyphicon glyphicon-briefcase"></span> alan.trann@gmail.com </p>
</div>