<div class="container">
	<%= image_tag("longboard.jpg", :class => "img-responsive") %>

	<div class="row">
    <div class="col-md-4">
      <h3>Welcome</h3>
      <p>Hi there! Welcome to my website. You can use the navigation bar at the top to navigate the site. This is still under construction so I hope you'll excuse any mess you might find!</p>
      <p><%= link_to "View details", about_path%></a></p>
    </div>
    <div class="col-md-4">
      <h3>SMS Analytics</h3>
       <p>Do historical SMS logs yield meaningful information? I look at over 90 000 personal sms entries and visualize its relationship with time.</p>
      <p><%= link_to "View details", thoughts_path%></p>
    </div>
    <div class="col-md-4">
      <h3>Board Game Analytics</h3>
       <p>What makes a good board game? I dive into a user-based dataset from boardgamegeek.com to take a look at classic and modern board games.</p>
      <p><%= link_to "View details", thoughts_path%></p>
    </div>
	</div>
</div>

