<div class="container">
	<%= image_tag("longboard.jpg", :class => "img-responsive") %>

	<div class="row">
    <div class="col-md-4">
      <h3>Welcome</h3>
      <p>Hi there! Welcome to my website. You can use the navigation bar at the top to navigate the site. This is still under construction so I hope you'll excuse any mess you might find!</p>
      <p><%= link_to "View details", about_path%></a></p>
    </div>
    <div class="col-md-4">
      <h3>Board Game Analytics</h3>
       <p>What makes a good board game? I dive into a user-based dataset from boardgamegeek.com to take a look at classic and modern board games.</p>
      <p><%= link_to "View details", thoughts_path%></p>
    </div>
    <div class="col-md-4">
      <h3>Social Analytics</h3>
       <p>Quantifying social encounters. I use data from my personal life in order to measure my social interactions through time, and my relationships with specific individuals.</p>
      <p><%= link_to "View details", thoughts_path%></p>
    </div>
	</div>
</div>

